@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff;
}

